@media screen and (min-width: 1400px) {
  #slider-title {
    font-size: 1.2rem;
  }
  #slider-paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1700px) {
  #slider-first-row > div {
    height: 16rem;
  }
  #slider-second-row > div {
    height: 16rem;
  }
  .slide-btns > div {
    height: 28%;
    margin-bottom: 1rem;
  }
  #slider-title {
    font-size: 1.5rem;
  }
  #slider-paragraph {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 2000px) {
  #slider-first-row > div {
    height: 20rem;
  }
  #slider-second-row > div {
    height: 20rem;
  }
  .slide-btns > div {
    height: 30%;
    margin-bottom: 1.2rem;
  }
  #slider-title {
    font-size: 2rem;
  }
  #slider-paragraph {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 2700px) {
  #slider-first-row > div {
    height: 22rem;
  }
  #slider-second-row > div {
    height: 22rem;
  }
  .slide-btns > div {
    height: 30%;
    margin-bottom: 1.2rem;
  }
  #slider-title {
    font-size: 2.2rem;
  }
  #slider-paragraph {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    -ms-grid-columns: 64.04% 6.5% 5.995% 1.245% 22.22%;
        grid-template-columns: 64.04% 6.5% 5.995% 1.245% 22.22%;
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    max-width: 83.33%;
  }
  .wrapper {
    -ms-grid-columns: 54.04% 5.5% 6.995% 1.245% 32.22%;
        grid-template-columns: 54.04% 5.5% 6.995% 1.245% 32.22%;
  }
  #slider-title {
    font-size: 1.2rem;
  }
  #slider-paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .slider {
    max-width: 91.66%;
  }
}

@media screen and (max-width: 675px) {
  .slider {
    margin-top: 10%;
    max-width: 100%;
  }
  .slider-text {
    display: none;
  }
  #hidden-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
    color: #1e95f0;
  }
  #hidden-slider-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
  .wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    max-width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3.5% 80% 5% 8% 3.5%;
        grid-template-columns: 3.5% 80% 5% 8% 3.5%;
        grid-template-areas: '. slider-title slider-title slider-title . ' '. slider-first-row slider-first-row slider-first-row .' '. slider-second-row . slide-btns .' '. slider-paragraph slider-paragraph slider-paragraph .';
    row-gap: 10px;
  }
  #slider-first-row > div {
    height: 10rem;
  }
  #slider-second-row > div {
    height: 10rem;
  }
  .slide-btns > div {
    height: 30%;
  }
}

@media screen and (max-width: 530px) {
  .wrapper {
    -ms-grid-columns: 3.5% 78% 5% 10% 3.5%;
        grid-template-columns: 3.5% 78% 5% 10% 3.5%;
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    -ms-grid-columns: 3.5% 74% 6% 13% 3.5%;
        grid-template-columns: 3.5% 74% 6% 13% 3.5%;
  }
  #hidden-slider-title {
    font-size: 1.1rem;
  }
  #hidden-slider-paragraph {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=rwd.css.map */